.mt-6{
    top: 97px;
    height: 400px;
    
}
.container{
   
   
}
.arriba{
    width: 300px; 
    
  
}
.flecha{
    width: 41px;
   
}
.form-control {
    
    border-radius: 15px;
       background-color: rgba(0, 0, 0, 0);
    }
    
    .link-focus{
        font-weight: bold;
        text-decoration: underline;
        }
.btn-inicio{
    padding: 5px 20px;
    border-radius: 20px;
    margin-top: 1%;
  }
  #buscador{
    color: black;
  }
  
 #buscador::placeholder{
    color: black!important;
 }
 .form-control:focus {
    color: var(--bs-body-color);
    background-color: rgba(0, 0, 0, 0);
    border-color: #000000;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0);
}
.btn{
    color: rgb(255, 255, 255);
    background-color: black;
    border-color: #000000;
}
.Redes {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center;
    padding: 20px;
    background-color: #222;
    color: white;
  }
  .iconos {
    display: flex;
    gap: 20px; /* Espacio entre íconos */
    margin-bottom: 10px; /* Espacio debajo de los íconos */
  }


