.mt-6{
    top: 97px;
    height: 400px;
    
}
.container{
   
   
}
.arriba{
    width: 200px; 
    
  
}
.flecha{
    width: 100px;
   
}
.form-control {
    
    border-radius: 15px;
   background-color: rgb(0, 0, 0);
}
.btn{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    
}