p{
    font-size: 25px;
    font-size: larger;
}
h1{
    margin-top: 100px;
    
    text-align: center;s
}
img{
    height: 250px;
    margin-top: 210px;
    margin-left: 100px;
    
}

.flecha{
    width: 100px;
    height: 100px;
    margin-left: -100px;
   
    transform: rotateZ(180deg);
}
.flecha2{
    width: 100px;
    height: 100px;
    left: auto;
}
.Navegacion{
    margin-top: -110px;
    display: flex;
    justify-content: space-between;

}
.chulo{
    margin-top: -700px;   
    height: 80px;
    margin-left: 500px;
}