.fondo{
    background-image: url(../recursos/images/fonditofondo.jpg) ;
    background-size: cover;
}

header{
    height: 155px;
}

.bg-header{
    background-image: url(../recursos/images/marcoarriba.png) ;
    background-size: 100% 150px;
    background-repeat: no-repeat;
}

.card-body{
  display: flex;
  justify-content: center;
}

/* .btn {

    justify-content: center;

    background-color: black;
    border-radius: 0;
    color: white;
    margin-bottom: 15px;
} */
.trompetas {
    /* margin-top: -9px; */
    height: 269px;
    width: 480px;
    object-fit: cover;
}

.ver {
    /* height: 100px; */
    text-align: center;
}
.tinta{
  /*   margin-top: 250px; */
  width: 100%;
}

.form-control {
    
border-radius: 15px;
   background-color: rgb(0, 0, 0);
}
.btn2{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    
}