.fondo{
    background-image: url(../recursos/images/fonditofondo.jpg) ;
    background-size: cover;
}

header{
    height: 155px;
}

.bg-header{
    background-image: url(../recursos/images/marcoarriba.png) ;
    background-size: 100% 150px;
    background-repeat: no-repeat;
}

.card-body{
  display: flex;
  justify-content: center;
}

.btn {
    padding: 10px 20px;
    justify-content: center;

    background-color: white;
    border-radius: 0;
    color: black;
    margin-bottom: 5px;
    border: 1px solid rgba(255, 255, 255, 0.481)!important;
} 

.btn:hover{
    color: black!important;
    background-color: white;
}

.trompetas {
    /* margin-top: -9px; */
    height: 269px;
    width: 480px;
    object-fit: cover;
}

.ver {
    /* height: 100px; */
    text-align: center;
}
.tinta{
  /*   margin-top: 250px; */
  width: 100%;
}

.form-control {
    
border-radius: 15px;
   background-color: rgba(0, 0, 0, 0);
}
.buscador {
    background-color: rgba(255, 255, 255, 0);
   color: black;
}
.btn2{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    
}
.btn-inicio{
    border-radius: 20px;
    margin-top: 1%;
  }
  #buscador{
    color: rgb(255, 255, 255);
  }
  
 #buscador::placeholder{
    color: rgb(255, 255, 255)!important;
 }
 .form-control:focus {
    color: var(--bs-body-color);
    background-color: rgba(0, 0, 0, 0);
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0);
}
.btn{
    color: rgb(255, 255, 255);
    background-color: black;
    border-color: #000000;
}