.imagenes{
    width: 90%;
    margin: auto;
}
.Carga{
    width: 500px;
    height: 80px;
    margin-left: 393px;
  
 
}
.arriba{
   width: 200px; 
   
}
.logo{
    width: 150px;
    margin-left: 634px;
}
.flecha{
    width: 41px;
   
}
.btn-inicio{
    border-radius: 20px;
    margin-top: 1%;
  }
.form-control {
    
border-radius: 15px;
   background-color: rgba(0, 0, 0, 0);
}
.buscador {
    background-color: rgba(255, 255, 255, 0);
   color: black;
}