.imagenes {
    width: 100%;
    margin: auto;
}
.Carga{
    width: 400px;
}
.arriba{
   width: 250px; 
   
}
.logo{
    width: 150px;
    margin-left: 634px;
}
.flecha{
    width: 41px;
   
}
.btn-inicio{
    border-radius: 20px;
    margin-top: 1%;
  }
.form-control {
    
border-radius: 15px;
   background-color: rgba(0, 0, 0, 0);
}
.buscador {
    background-color: rgba(255, 255, 255, 0);
   color: black;
}
.btn-inicio{
    border-radius: 20px;
    margin-top: 1%;
  }
  #buscador{
    color: black;
  }
  
 #buscador::placeholder{
    color: black!important;
 }
 .form-control:focus {
    color: var(--bs-body-color);
    background-color: rgba(0, 0, 0, 0);
    border-color: #000000;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0);
}
.btn{
    color: rgb(255, 255, 255);
    background-color: black;
    border-color: #000000;
}