img{
    width: 1000px;
    margin-left: 115px;
}
.Carga{
    width: 500px;
    height: 80px;
    margin-left: 393px;
  
 
}
.arriba{
   width: 200px; 
   
}
.logo{
    width: 150px;
    margin-left: 634px;
}
.flecha{
    width: 100px;
    margin-left: -100px;
}