.card{
    height: 100px;
    width: 350px;
    background-color: black;
    border-radius: 0px;
    
}
.container{
margin-left: 200px;
}
p{
    color: white;
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
}
.flecha{
    width: 100px;
    height: 100px;
    margin-left: -100px;
    margin-top: -60px;
}