.card{
    height: 100px;
    width: 350px;
    background-color: black;
    border-radius: 0px;
    
}
.container{
display: flex;
justify-content: center;
}
p{
    color: white;
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
}
.flecha{
    height: 100px;
}